.links li a {
    color: #66122d; /* Set the text color to white */
 /* Remove underline from links */
}

/* This will make only the "Get Started" link text white */
#getstarted a {
    color: white;
}


body {
  font-family: 'Open Sans', helvetica;
  background-color:#f3e2e7;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  
}
 header {
  min-height: 70px;
  display: flex;
}

 header {
    min-height: auto;
    display: initial;
   margin-bottom: 1px;
  }

 header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 header .logo {
   color: #4b081d;
  font-style: italic;
  text-transform: uppercase;
  font-size: 60px;
}

header .links {
  display: flex;
  align-items: center;
}

header .links li {
   margin-left: 20px;
  color: #4b081d;
  cursor: pointer;
  transition: .3s;
}

header .links li:last-child {
   border-radius: 10px;
  padding: 10px 20px;
  color: #FFF;
  background-color:#a35d73;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 2px solid #FBF;
  border-radius: 30px; 
  box-sizing: border-box;
  margin-top: 2px; 
  margin-bottom: 18px; 
  resize: vertical;
  height:45px;
}

input[type=submit] {
  border-radius: 10px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  color: #FFF;
  background-color: #a35d73;
}

input[type=submit]:hover {
  background-color: #3333ff;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Helvetica;
}
section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}
.footer {
  position: relative;
  width: 100%;
  background: #a35d73;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fbf;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}